- if Rails.env == 'development'
  = @survey.errors.full_messages
= semantic_form_for [:admin, @survey] do |f|
  = f.inputs "Survey Details" do
    = f.input :title
    = f.input :audience_description, input_html: {style: 'height: 40px;'}
    = f.input :description, input_html: {style: 'height: 40px;'}
    = f.input :goal
    = f.semantic_fields_for :survey_questions do |question|
      = render 'survey_question_fields', f: question
    .links
      = link_to link_to_add_association 'Add Question', f, :survey_questions, class: 'button'
      - puts link_to_add_association 'Add Question', f, :survey_questions, class: 'button'
  = f.actions do
    = f.submit  'Submit Survey' , class: 'submit_edit'

