.nested-fields.question
  = f.inputs "Survey Question" do
    .blank_part
      %br
    .question_part
      %h3 Question Detail
      = f.input :survey_question_type, collection: SurveyQuestionType.usable_types, include_blank: false, input_html: {style: 'width: 320px;', class: 'q-type question_field'}
      %br
      - if [11, 12, 13].include? (f.object.survey_question_type_id)
        = f.input :text, as: :text, label: 'Spanish version', input_html: {style: 'width: 300px; height: 80px;', class: 'question_field string input required stringish'}
      - else
        = f.input :text, label: 'Spanish version', input_html: {style: 'width: 300px;', class: 'question_field string input required stringish'}
      %br
      - if [11, 12, 13].include? (f.object.survey_question_type_id)
        = f.input :english_translation, as: :text, label: 'English version', input_html: {style: 'width: 300px; height: 80px;', class: 'question_field string input required stringish'}
      -else
        = f.input :english_translation, label: 'English version', input_html: {style: 'width: 300px; height: 16px;', class: 'question_field string input required stringish'}
      %br 
      - unless [11, 12, 13].include? (f.object.survey_question_type_id)
        = f.input :order, as: :select, collection: (1..20), include_blank: false, input_html: {style: 'width: 320px;', class: 'question_field'}
      %br
      = f.input :survey_graph_type, include_blank: false, input_html: {style: 'width: 320px;', class: 'question_field '}
      - unless [11, 12, 13].include? (f.object.survey_question_type_id)
        %br
        = f.input :other_answer_id, as: :boolean, wrapper_html: {style: 'width: 2000px;'}, input_html: { class: 'question_field'}, label: ' Other Answer(If checked, last answer will be other answer.)'
        %br
        %br
        = link_to_remove_association "Delete Question", f#, class: 'button'
    .answers_part
      %h3 Question Answers
      #answer_label  
        .answer_label#answer_text_label Text
        .answer_label#answer_english_translation_label English Translation
        .answer_label#answer_validation_text_label Validation Text
        .answer_label#answer_special_action_label Special Action
        .answer_label#answer_next_question_label Next Question
      %br

      = f.semantic_fields_for :survey_possible_answers do |answer|
        = render 'survey_possible_answer_fields', f: answer
      .links
        = link_to link_to_add_association 'Add Answer/Rule', f, :survey_possible_answers, class: 'button question_field', style: 'margin-top: 15px;'
