.nested-fields
  = f.inputs style: 'margin-bottom: 0px; ' do
    #answer_text.answer_field.hide
      = f.input :text, label: '', input_html: {style: 'width: 120px; height: 20px; padding: 0px;'}
    #answer_english_translation.answer_field.hide
      = f.input :english_translation, label: '', input_html: {style: 'width: 120px; height: 20px; padding: 0px;'}
    #answer_validation_text.answer_field.hide
      = f.input :validation, label: '&nbsp;', input_html: {style: 'width: 120px; height: 20px; padding: 0px;'}
    #answer_validation_number_freeform.answer_field.hide
      = f.input :validation, label: '&nbsp;', collection: SurveyQuestions::NumericInput::OPERATORS, input_html: {style: 'width: 120px;'}, include_blank: false
    #answer_validation_text_freeform.answer_field.hide
      = f.input :validation, label: '&nbsp;', collection: SurveyQuestions::TextInput::OPERATORS, input_html: {style: 'width: 120px;'}, include_blank: false
    #answer_special_action.answer_field.hide
      = f.input :special_action, label: '&nbsp;', input_html: {style: 'width: 40px;'}
    #answer_next_question.answer_field.hide
      = f.input :next_question_id, as: :select, collection: @survey.survey_questions, label: '&nbsp;', input_html: {style: 'width: 100px;'}
    .answer_field
      = link_to_remove_association "Delete", f#, class: 'button'
