%h2
  = I18n.t("registration_edit.title") 
  #{resource_name.to_s.humanize}
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  .span10
    = f.error_notification
  .span5
    .row-fluid
      = f.input :email, :required => true, :autofocus => true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          Currently waiting confirmation for: #{resource.unconfirmed_email}
    .row-fluid
      = f.input :password, :autocomplete => "off", :hint => I18n.t("registration_edit.text_1") , :required => false
    .row-fluid
      = f.input :password_confirmation, :required => false
    .row-fluid
      = f.input :current_password, :hint => I18n.t("registration_edit.text_2").html_safe, :required => true
  .span1
  .span4
    .row-fluid
      = f.input :first_name
    .row-fluid
      = f.input :last_name
    = f.simple_fields_for :user_extension do |form|
      .row-fluid
        = form.input :company
      .row-fluid
        = form.input :company_role
    .row-fluid
      = f.input :city
    .row-fluid
      = f.input :phone_number, as: :string, input_html: { pattern: '[0-9]*' }
  .clear
  .span10
    %br/
    = f.button :submit, I18n.t("button.update") , class: 'large awesome pull-right'
