%h2 
  = I18n.t("registration_new.title") 
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  .span9
    = f.error_notification
  .span4
    .row-fluid
      = f.input :email, :required => true, :autofocus => true
    .row-fluid
      = f.input :password, :required => true
    .row-fluid
      = f.input :password_confirmation, :required => true
    .row-fluid
      = f.input :first_name
    .row-fluid
      = f.input :last_name
  .span1
  .span4
    - f.object.build_user_extension
    = f.simple_fields_for :user_extension do |form|
      .row-fluid
        = form.input :company
      .row-fluid
        = form.input :company_role
    .row-fluid
      = f.input :city
    .row-fluid
      = f.input :phone_number
    .row-fluid
      = f.input :role, as: :hidden, input_html: {value: 'client'}
  .clear
  .span9
    = f.button :submit, I18n.t("button.sign_up"), class: 'large awesome pull-right'
  .span9
    .pull-right
      %br/
      = render "devise/shared/links"
.clear 