!!! 5
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
  %body
    %h1 Hi, #{@admin_user.first_name},
    %strong #{@reason}
    %br
    %br
    
    #{Time.now.strftime("%I%p %m/%d/%Y")} 
    %br
    From: #{@user.try(:full_name)}(#{@email}) 
    /%br
    /Company: #{@user.try(:company)} 
    %br
    %br
    
    %p #{@content}
    %br
    
    Best,
    %br
    SABEResPODER Research Team