!!! 5
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
  %body
    %strong 
      #{@user.full_name} (#{@user.email}) has invited you to view the results for a survey.
    %br
    
    %p
      #{@message}
    %p 
      Follow this link to get access:
      %br
      = link_to @link_url, @link_url
    %p
      SABEResPODER is a research platform – a new way of getting real-time survey responses from Hispanics living in the United States.
      %br
      Have fun, and don't hesitate to contact us with your feedback.
    
    &#45; The SABEResPODER Research Team
    %br
    = link_to 'http://SABEResPODER.com', 'http://SABEResPODER.com'
