!!! 5
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
  %body
    %strong Hello!
    %br
    
    %p 
      /A new survey was created. Please contact #{@user.full_name} with #{@user.company} at #{@user.phone_number} or by email at #{@user.email}
      A new survey was created. Please contact #{@user.full_name} at #{@user.phone_number} or by email at #{@user.email}
    %br
    
    Thanks,
    %br
    SABEResPODER Research Team