- if controller_name != 'sessions'
  = link_to I18n.t("button.sign_in"), new_session_path(resource_name)
  %br
- if devise_mapping.registerable? && controller_name != 'registrations'
  %br
- if devise_mapping.recoverable? && controller_name != 'passwords'
  = link_to I18n.t("devise_links.text_1"), new_password_path(resource_name)
  %br
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to I18n.t("devise_links.text_2"), new_confirmation_path(resource_name)
  %br
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to I18n.t("devise_links.text_3"), new_unlock_path(resource_name)
  %br
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
    %br
