%h1 
  = I18n.t("notification_index.title")
.span9
  %table#notifications.table.table-bordered.table-condensed
    - current_user.survey_notifications.each do |notification|
      %tr{class: "#{notification.new_flag ? 'new' : 'old'}"}
        %td
          %strong
            = time_2_datetime_str notification.created_at
          %br
          = notification.text_from_lang(session[:locale]).html_safe
        %td.centered
          - if notification.survey
            = link_to I18n.t("survey_common.view_result"), survey_results_path(notification.survey), class: "btn green"
          - if notification.has_links?
            - the_links = notification.get_links
            - the_links.each do |lnk| 
              = link_to lnk['text'][session[:locale].to_s], lnk['url'], class: "btn green"
          
- current_user.survey_notifications.update_all(new_flag: false)