.span6
  %h2 
    - if params[:invited]
      = I18n.t("password_edit.text_1")
      %br
      = I18n.t("password_edit.text_2")
    - else
      = I18n.t("password_edit.text_3")
  .span5
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = f.input :reset_password_token, :as => :hidden
      = f.full_error :reset_password_token
      .form-inputs
        = f.input :password, :label => I18n.t("password_edit.text_4"), :required => true, :autofocus => true
        = f.input :password_confirmation, :label => I18n.t("password_edit.text_5"), :required => true
      .pull-right
        %br
        = f.button :submit, I18n.t("password_edit.text_6"), class: 'medium awesome'
    .clear
    = render "devise/shared/links"
