.span7
  %h2 
    = I18n.t("password_new.text_1")
  .span6
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = f.error_notification
      .row-fluid
        = f.input :email, :required => true, :autofocus => true
      .pull-right
        %br
        = f.button :submit, I18n.t("password_new.text_2"), class: 'medium awesome'
  .clear
  = render "devise/shared/links"
