<div class="modal hide fade" id="confirm_modal" style="border: 2px solid #00A261">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="confirm_modal_header">Confirm</h3>
  </div>
  <div class="modal-body" id="confirm_modal_body">
    <p>One fine body</p>
  </div>
  <div class="modal-footer" id="confirm_modal_footer">
    <a href="#" class="medium awesome" id="confirm_modal_ok" onclick="">OK</a>
    &nbsp;
    <a href="#" class="medium awesome" id="confirm-modal-cancel" onclick="$('#confirm_modal').modal('hide');">Cancel</a>
  </div>
</div>

<div class="modal hide fade" id="alert_modal" style="border: 2px solid #00A261">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="alert_modal_header">Notice</h3>
  </div>
  <div class="modal-body" id="alert_modal_body">
    <p>One fine body</p>
  </div>
  <div class="modal-footer" id="alert_modal_footer">
    <a href="#" class="medium awesome" id="alert_modal_ok" onclick="$('#alert_modal').modal('hide');">OK</a>
  </div>
</div>
