/* Most common stuff you'll need to change */

	.coda-slider-wrapper { padding: 0px 0; }
	/*.coda-slider { background: #ebebeb; }*/
	
	/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
	.coda-slider-no-js .coda-slider { min-height: 440px; overflow: auto !important; padding-right: 20px }
	
	.coda-slider-no-js .coda-slider {
	width: expression( document.body.clientWidth < 440 ? "440px" : "auto" ); /* set min-width for IE */
	}
	
	/* Change the width of the entire slider (without dynamic arrows) */
	.coda-slider, .coda-slider .panel { width: 905px } 
	
	/* Change margin and width of the slider (with dynamic arrows) */
	.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width: 905px }
	.coda-slider-wrapper.arrows .coda-slider { margin: 0 10px }
	
	/* Arrow styling */
	.coda-nav-left a, .coda-nav-right a { background: #000; color: #fff; padding: 5px; width: 100px }
	
	/* Tab nav */
	 ul.coda-nav li a.current { background: #39c }
	
	/* Panel padding */
	.coda-slider .panel-wrapper { /*padding: 20px*/ min-height:440px; }
	
	.coda-slider .panel-wrapper{
	width: expression( document.body.clientWidth < 440 ? "440px" : "auto" ); /* set min-width for IE */
	}
	
	
	/* Preloader */
	.coda-slider p.loading { padding: 20px; text-align: center }
	
	/* Miscellaneous */
	.coda-slider-wrapper { clear: both; overflow: auto;}
	.coda-slider { float: left; overflow: hidden; position: relative }
	.coda-slider .panel { display: block; float: left }
	.coda-slider .panel-container { position: relative;}
	.coda-nav-left, .coda-nav-right { float: left; display:none;}
	.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none; display:none; }
	
	#slider {
    margin: 0 auto;
    position: relative;
	background: transparent url(/images/servicestab_bg.png) top -13px repeat-y;
}