html {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust:none;
	/*overflow-x: hidden;*/
}
.debug {
	background: #CCC;
}

/* \HTC */
img, div, a, input { behavior: url("iepngfix.htc") }

body {
   behavior: url("csshover3.htc");
}

.curved {
 border-radius: 10px;
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
 behavior:url("PIE.htc");
}

.error
{
	color:#c20000;
}

/*#wrap
{
	
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
	width:1024px;
	position:relative;
	height:100%;
}*/


/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
	font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	overflow-x:hidden;
	background-color:#fff;
}

div.secondary
{
	padding-bottom:20px;
	
}

p
{
	color:#5f5f5f;
	font-weight:normal;
	}

html, body{
	height:100%;
	width:100%;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

span.career_placeholder {
	color:#2f5359;
	font-style: italic;
}

a
{
	color:#2f5359;
	text-decoration:underline;
	cursor:pointer;
	}

a:hover
{
	text-decoration:none;
	}

/*GLOBAL
----------------------------------------------------------------------------------------------------*/
.center
{
	text-align:center;
	}


.important_note
{
	background:#effdff url(/images/exclamation_bg.jpg) -20px 50% no-repeat;
	padding:30px;
	border:1px solid #a8e0c8;
	border-radius:3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0 0px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.5);
	margin-top:0px;
	position:relative;
	behavior:url("PIE.htc");
	}

.important_note h3
{
	
	}

.important_note p
{
	font-family: 'PTSansRegular', Arial, sans-serif;
	font-size:16px;
	color:#3e6066;
	line-height:17px;
	margin-bottom:0px;
	letter-spacing:-1px;
	}

.important_note .small_exclamation
{
	position:absolute;
	top:-10px;
	left:-9px;
	z-index:10;
	}

ul.body
{
margin:0px 0 1px 0;
list-style:none;
}

ul.body li
{
background:transparent url(/images/arrowbullet.jpg) left -4px no-repeat;
padding:0px 0px 5px 20px;
margin:0px;
font-size:12px;
color:#2f5359;
line-height:14px;
font-style:italic;
}

#greenbar_header
{
	width:100%;
	height:5px;
	background:url(/images/greenbar.gif) top left repeat-x;
	position:relative;
	z-index:999;
	}
	
#logo
{
	position:relative;
	z-index:99;
	}

#header
{
	margin-bottom:35px;
	z-index: 99;
	}
	
#language
{
	background-color:#ccc;
	z-index:99;
	}
	
#language #tab_container
{
	width:140px;
	position:absolute;
	right:0px;
	}
	
#tab_container span
{
	/*color: #00a261; */
	font-size:10px;
	line-height:14px;
	position:relative;
	display:inline-block;
	font-weight:bold;
	float:right;
	top:1px;
	}

.espanol_tab, .english_tab 
{
	background: #f5f5f5;
	display: inline-block; 
	padding: 7px 10px 1px; 
	color: #00a261; 
	text-decoration: none;
	border-radius:3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	top:-9px;
	font-size:11px;
	float:right;
	margin-left:3px;
	behavior:url("PIE.htc");
	}

.espanol_tab.active, .english_tab.active
{
	background: #00a261;
	color: #fff;
	top:-6px;
	}

#navcontainer{
	margin-top:30px;
	margin-bottom:20px;
	}

ul#nav 
{
	margin-left: 0;
	padding-left: 0;
	white-space: nowrap;
}

#nav li
{
	display: inline;
	list-style-type: none;
}

#nav li a { 
	font-family: 'TeXGyreHerosRegular', Arial, sans-serif;
	padding: 0px 10px 0 10px;
	text-transform:uppercase;
	letter-spacing:-1px;
	font-size:13px !important;
	font-weight:normal;
 }

#nav a.first
{
	padding:0px 10px 0 0;
	}

#nav a:link, #nav a:visited
{
	color: #9fcf67;
	text-decoration: none;
}

#nav a:hover
{
	color: #00a261;
	text-decoration: none;
}

#nav a.current
{
	color: #00a261;
	text-decoration: none;
}


/* `Home
----------------------------------------------------------------------------------------------------*/
#slidercontainer
{
	 height:405px;
	 margin-bottom:40px;
	}

.slidecontent span a
{
	display:block;
	color:#9fcf67;
	font-size:10px;
	line-height:10px;
	text-transform:uppercase;
	font-family: 'TeXGyreHerosRegular', Arial, sans-serif;
	padding:0px;
	cursor:pointer;
	font-weight:bold;
	background:transparent url(/images/greenarrow.png) no-repeat;
	background-position:0px 0px;
	text-decoration:none;
	height:12px;
	padding-left:15px;
	}

.slidecontent_container
{
	padding-top:300px;
	position:relative;
	}


#network_container
{
	width:155px;
	height:405px;
	position:absolute;
	top:3px;
	left:0px;
	background: transparent url(/images/network_swoosh_bg.png) top right no-repeat;
	z-index:999;
	}
	
#faded_intro
{
	background: transparent url(/images/fadedintro_slide.jpg) top left no-repeat;
	}

#videonetwork_slide
{
	background: transparent url(/images/videonetwork_slide.jpg) top left no-repeat;
	}
	
#guidesnetwork_slide
{
	background: transparent url(/images/guidesnetwork_slide.jpg) top left no-repeat;
	}
	
#mobilenetwork_slide
{
	background: transparent url(/images/mobilenetwork_slide.jpg) top left no-repeat;
	}

#liveevents_slide
{
	background: transparent url(/images/liveevents_slide.jpg) top left no-repeat;
	}

#faded_intro_content
{
	margin-top:50px;
	margin-bottom:20px;
	
	}

#faded_intro_content  span
{
	color:#2f5359;
	font-size:19px;
	line-height:22px;
	font-weight:normal;
	font-family: 'TeXGyreHerosRegular', Arial, sans-serif;
	display:block;
	position:relative;
	
	}

#choose_path
{
	position:relative;
	width:423px;
	}

#network_path
{
	position: absolute;
	left:0px;
	top:0px;
	border-right: 1px solid #9aaaac;
	background: transparent url(/images/leftarrow.png) no-repeat;
	background-position: left 50%;
	}

#empowerment_path
{
	position: absolute;
	right:0px;
	top:0px;
	background: transparent url(/images/rightarrow.png) no-repeat;
	background-position: right 50%;
	
	}

#choose_path span a
{
	color: #00a261;	
	font-size:13px;
	line-height:15px;
	font-weight:bold;
	font-family: Arial, sans-serif;
	display:block;
	text-decoration:none;
	width:170px;
	padding:10px 20px;
}

#hispanic_family_home
{	
	position:absolute;
	top:-30px;
	z-index:100;
	right:20px;
	
	}

#empowerment_networkbutton_home
{	
	position:absolute;
	right: -2px;
	z-index:101;
	top:193px;
	
	}

.home_puzzle_icon
{
	margin-bottom:0px;
	}
	
.icon_container
{
	width:110px;
	height:98px;
	position:absolute;
	cursor:pointer;
	}

.icon_container span
{
	color:#004328;
	font-size:10px;
	font:Arial, Helvetica, sans-serif;
	display: block;
	text-align:center;
	line-height:11px;
	text-transform:uppercase;
	font-weight:bold;
	}

#video_container
{
	top:0px;
	left:20px;
}
	
#mobile_container
{
	top:100px;
	left:0px;
}

#guides_container
{
	top:200px;
	left:0px;
}

#liveevents_container
{
	top:300px;
	left:20px;
}

/* 'Careers
----------------------------------------------------------------------------------------------------*/
ul#careers_list
{
margin:20px 0 1px 0;
list-style:none;
}

ul#careers_list li
{ 
padding:0px 0px 5px 20px;
margin:0 0 20px 0;
font-size:14px;

line-height:14px;
text-transform: none;
font-weight: bold;
}

ul#careers_list li span, ul#careers_list li span a
{ 
padding:0px 0px 5px 10px;
margin:0px;
font-size:10px;

line-height:14px;
text-transform: uppercase;
}


/* 'About
----------------------------------------------------------------------------------------------------*/
.founderimage
{
	margin-bottom:10px;
	}

#about_amir, #about_raul
{
	text-align:center;
	}

#about_amir p, #about_raul p
{
	text-align:left;
	font-size:11px;
	}

.individual_container
{
	margin-bottom:20px;
	}

#about_heading
{
	margin-bottom:40px;
	}

#about_tab_container
{
	width:45px;
	height:440px;
	position:absolute;
	left:0px;
	}
	
#about_slider_container
{
	width:905px;
	position:relative;
	top:0px;
	left:45px;
	z-index:15;
	padding-top:40px;
	}

#about_theteam, #about_history, #about_vision
{
	cursor:pointer;
	}

#about_theteam
{
	position:absolute;
	top:165px;
	left:0px;
	z-index:9;
	}

#about_history
{
	position:absolute;
	/*top:285px;*/
	top:165px;
	left:0px;
	z-index:9;
	}

#about_vision
{
	position:absolute;
	top:45px;
	left:0px;
	z-index:9;
	}

#about_shadow
{
	position:absolute;
	top:0px;
	left:39px;
	z-index:10;
	}



/* 'Network
----------------------------------------------------------------------------------------------------*/
p.underimportant_note
{
	padding:10px 30px 20px 30px;
	}

p.networkfeature
{
	color:#2f5359;
	font-size:12px;
	display:block;
	border-left:3px solid #93ca56;
	padding-left:10px;
	font-style:italic;

	}


#top_network
{
	margin-bottom:30px;
	}

.networkbullet_container
{
	margin-bottom:20px;
	}

.intro
{
	margin-bottom:50px;
	}

.hiddenparagraph
{
	line-height:0px;
	font-size:0px;
	height:0px;
	color:#fff;
	margin-top:-10px;
	}

#networkdescription_container
{
	}

#networknav
{
	height:200px;
	margin-bottom:15px;
	padding-top:20px;
	padding-bottom: 10px;
	margin-top:10px;
	}

#networknav span.iconlabel
{
	color:#004328;
	font-size:10px;
	font:Arial, Helvetica, sans-serif;
	display: block;
	text-align:center;
	line-height:11px;
	text-transform:uppercase;
	font-weight:bold;
	}

#networknav #video_networklabel
{
	position:absolute;
	top:5px;
	left:102px;
	z-index:99;
	}

#networknav #printed_networklabel
{
	position:absolute;
	top:5px;
	left:330px;
	z-index:99;
	}

#networknav #mobil_networklabel
{
	position:absolute;
	top:5px;
	left:570px;
	z-index:99;
	}

#networknav #community_networklabel
{
	position:absolute;
	top:5px;
	left:790px;
	z-index:99;
	}


#videonetwork_network, #mobilenetwork_network, #printednetwork_network, #eventsnetwork_network
{
	position:absolute;
	top:20px;
	cursor:pointer;
	}

#videonetwork_network
{
	left:-2px;
	}

#embeddedvideo_container, #embeddedcommunity_container
{
	position:absolute;
	top:15px;
	left:42px; 
	}
	
#printednetwork_network
{
	left:226px;
	}
	
#mobilenetwork_network
{
	left:464px;
	}
	

	
#eventsnetwork_network
{
	right:-3px;
	}


/* 'Our Community
----------------------------------------------------------------------------------------------------*/
#community_title
{
	position:relative;
	z-index: 99;
}

#stats_graphic
{
	margin-top:20px;
	margin-bottom:20px;
	}

span.iconlabel
{
	color:#004328;
	font-size:10px;
	font:Arial, Helvetica, sans-serif;
	display: block;
	text-align:center;
	line-height:11px;
	text-transform:uppercase;
	font-weight:bold;
	}

#printed_communitylabel
{
	position:absolute;
	top:186px;
	right:20px;
	z-index:99;
	}

#video_communitylabel
{
	position:absolute;
	top:428px;
	right:45px;
	z-index:99;
	}



	
span.slogan_green
{
	color: #00a261; 
	font-size:28px;
	line-height:28px;
	font-family: 'PTSansRegular', Arial, sans-serif;
	text-transform:uppercase;
	position:relative;
	display:inline-block;
	font-weight:bold;
	position:relative;
	letter-spacing:-1px;
	margin-bottom:20px;
	margin-top:10px;
	}



.community_fourstack, .community_fourstack_last
{
	margin-right:60px;
	}
	
.community_fourstack_last
{
	margin-right:0px;
	}


/* 'Partner with us
----------------------------------------------------------------------------------------------------*/
#casestudy_container
{
	position:relative;
	padding-bottom:60px;
	height:120px;
	}

.partnertopic_container
{
	background:transparent url(/images/networkitemcontainer.jpg) top center no-repeat;
	height:209px;
	}

#partner_top_container
{

	padding-bottom:0px;
	}

#partnerwithus_tvright
{
	height:300px;
	}

#partnerwithus_introleft{
	 padding-top:30px;
	}

#partnervideo_tagline
{
	font-weight:normal;
	}
	
#videoscreen
{
	position:absolute;
	z-index:-1;
	top:13px;

	}

#partnervideo_container
{
	position:absolute;
	top:30px;
	left:15px;
	z-index:0;
	}

#gatoradeguy
{
	position:absolute;
	z-index:99;
	left:-130px;
	top:20px;
	}
	
#partnerbackground
{
	position:absolute;
	left:-225px;
	top:150px;
	z-index:-1;
	}

#communitybackground
{
	position:absolute;
	left:-255px;
	top:-180px;
	z-index:-1;
	}

#aboutbackground
{
	position:absolute;
	left:-255px;
	top:-90px;
	z-index:-1;
	}

#networkbackground
{
	position:absolute;
	left:-255px;
	top:250px;
	z-index:-1;
	}

#partnervideo_tagline
{
	font-weight:normal;
	width:420px;
	margin-bottom:0px;
	text-align:center;
	padding-left:20px;
	}
	
.box {
	position: relative;
	background: url(../images/box_bg.jpg) repeat-x bottom left #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.box p {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	padding-bottom: 10px;
	font-size: 12px;
}
.box h3 {
	height: 30px;
	padding: 10px 10px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 16px;
	line-height: 16px;
}
.box h3.green {
	background: #c9e2a8;
	color: #2f5359;
	text-align: center;
}
.box h3.grey {
	background: #f1f1f2;
	color: #9fcf67;
}
.box img {
	float: right;
	margin: 10px 15px 0 20px;
}
.shadow {
	background: url(../images/box_shadow.jpg) no-repeat;
	position: absolute;
	bottom: -8px;
	left: 5px;
	height: 8px;
	width: 213px;
}
.wide {
	background: url(../images/box_shadow_wide.jpg) no-repeat;
	width: 400px;
	left: 12px;
	bottom: -8px;
}

/* 'Contact
----------------------------------------------------------------------------------------------------*/
.form
{
	text-transform: uppercase;
	color:#999;
	font-size: 10px;

}

.small_location
{
	font-size:11px;
	color:#5f5f5f;
	line-height: 11px;
	margin-top:10px;
	margin-bottom:3px;
	font-weight:normal;
	display: block;
	text-align: center;
	width:100%;
	letter-spacing: 0;
	text-decoration: underline;
}
	
#additionaladdress
{
	
	display:block;
	color:#2F5359;
	font-size: 16px;
	line-height:18px;
	font-family: 'PTSansRegular', Arial, sans-serif;
	letter-spacing:-1px;
	font-weight:normal;
	margin:0px 0 20px 0;
	text-align:center;
	}

#phonenumber
{
	color: #00a261;
	font-family: 'PTSansRegular', Arial, sans-serif;
	font-size: 25px;
	line-height:25px;
	font-weight:normal;
	letter-spacing:-2px;
	text-align:center;
	width:100%;
	display: block;
	padding-top: 10px;
	}

#companyaddress
{
	color: #2f5359;
	display:block;
	font-size: 16px;
	line-height:18px;
	font-family: 'PTSansRegular', Arial, sans-serif;
	letter-spacing:-1px;
	font-weight:normal;
	margin:0px;
	text-align:center;
	}

#companyname
{
	color: #00a261;
	font-size: 22px;
	line-height:22px;
	display: block;
	text-align: center;
	width:100%;
	text-decoration: underline;
	
	}


#map_container
{
	margin-bottom:30px;
	}

#social_container
{
	background-color:#eaf5f7;
	padding:10px;
	margin-bottom:30px;
	}
	
#social_container span.label
{
	color: #2f5359;
	display:block;
	font-size: 19px;
	line-height:19px;
	font-family: 'PTSansRegular', Arial, sans-serif;
	letter-spacing:-1px;
	font-weight:normal;
	position:relative;
	float:left;
	margin-top:8px;
	}

#facebook_connect, #twitter_connect, #youtube_connect
{
	float:left;
	position:relative;
	
	}

#social_container span.label, #facebook_connect, #twitter_connect
{
	margin-right:45px;
	}

#contact_container
{
	margin-top:-300px;
	z-index:9999;
	margin-bottom:30px;
	background: transparent url(/images/contact_transbg.png) top left repeat;
	}

.contact_inset
{
	background-color:#fff;
	margin:10px;
	border-radius: 5px;
	 -moz-border-radius:5px;
	 -webkit-border-radius:5px;
	 behavior:url("PIE.htc");
	 position:relative;
	 display:block;
	 padding:10px;
	}


#right_container
{
	margin-left:-5px;
	}




/* `Spacing
----------------------------------------------------------------------------------------------------*/
p,
dl,
hr,
h1,
h2,
h3,
h4,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 15px;
} 

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
	font-size: 34px;
	line-height:34px;
	font-family: 'PTSansRegular', Arial, sans-serif;
	letter-spacing:-1px;
	color: #00a261;	
	font-weight:bold;
	margin-bottom:20px;
}

h1.green
{
	color:#00a261 !important;
	font-style:italic;
	}

h1 span.green_slogan
{
	color: #00a261;
	font-weight:bold; 
	}

div.secondary h1
{
	font-size: 34px;
	line-height:35px;
	font-family: Arial, 'PTSansRegular', sans-serif;
	letter-spacing:normal;
	color: #2f5359;	
	font-weight:bold;
	}

h2{
	font-size: 23px;
	line-height:26px;
	font-family: Arial, 'PTSansRegular', sans-serif;
	letter-spacing:normal;
	font-weight:bold;
	margin-bottom:5px;
	padding-left:0px;
	color:#00a261;
	/*font-style:italic;*/
}

h2.slides {
	color: #fff;
	font-size: 23px;
	line-height:26px;
	font-family: 'PTSansRegular', Arial, sans-serif;
	letter-spacing:-1px;
	font-weight:normal;
	margin-bottom:5px;
	padding-left:0px;
	font-style:normal;
	width:470px;
}

.investor_thanks
{
	position:absolute;
	top:150px;
	left:100px;
}


h3 {
	font-family: Arial, 'PTSansRegular', sans-serif;
	font-size: 21px;
	line-height:24px;
	color:#2f5359;
	letter-spacing:normal;
	margin-bottom:0px;
}

h3#careers_subpoint
{
	padding-top:30px;
	}


h4 {
	color: #2f5359;
	font-size: 19px;
	line-height:24px;
	font-family: Arial, 'PTSansRegular', sans-serif;
	letter-spacing:normal;
	font-weight:bold;
}

h5 {
	color: #2f5359;
	font-size: 15px;
	line-height:15px;
	font-family: Arial, 'PTSansRegular', sans-serif;
	letter-spacing:normal;
	font-weight:bold;
	margin-bottom:5px;
}

h6 {
	font-size: 15px;
	font-family: Arial, 'PTSansRegular', sans-serif;
}

p.investor_desc
{
	padding:20px;
}

.investor_box
{
	padding-top:20px;
	margin-bottom:20px;
	background-color:#fff;
	border:1px solid #d7d7d7; 
	height: 350px;
	}

.investor_box img
{
	position:relative;
	left:50%;
	margin-left:-75px;
	margin-bottom:10px;
	}

/* `Footer
----------------------------------------------------------------------------------------------------*/
.vuepoint a
{
	position:relative;
	color:#5F5F5F;
	font-size: 13px;
	font-weight: normal;
}

.vuepoint
{
	width: 500px;
	padding-left: 40px;
	color:#b5b4b4;
}

#footer
{
	margin-top:30px;
	padding-bottom:30px;
	}
	
#footer #left span
{
	color:#464646;
	font-weight:bold;
	font-size:10px;
	display:block;
	float:left;
	position:relative;
	}

#footer #left
{
	position:relative;
	float:left;
	width:450px;
	}

#footer #left .internal_links
{
	font-size:10px;
	margin-bottom:5px;
	}

#footer #left .internal_links a
{
	display:block;
	float:left;
	position:relative;
	margin-left:7px;
	color:#00a261;
	text-decoration:underline;
	}
	
#footer #left .internal_links a:hover
{

	text-decoration:none;
	}
	
#footer #right
{
	position:relative;
	float:right;
	width:450px;
	text-align:right;
	}

#footer #right .footerlogos
{
	float:right;
	margin-left:7px;	
	}
#footer_social_icons {
	float: right;
}
#footer_social_icons li {	
	float: left;
	list-style-type: none;
	margin-right: 5px;
}
/* `Modifiers
----------------------------------------------------------------------------------------------------*/

.small
{
	font-size:10px;
	line-height:12px;
	font-weight:normal;
	text-align:center;
	}
	
.green
{
	color:#00a261;
	}

.blue
{
	color:#2f5359;
	}

.uppercase
{
	text-transform:uppercase;
	}

.small_image
{
	margin-bottom:10px;
	}

/* `Forms
----------------------------------------------------------------------------------------------------*/

.textfield, .textarea{
	width: 220px;
	position:relative;
	padding: 8px 1px 5px 5px;
	/*background: #ededed url(/images/bar-bg.png) repeat-x;*/
	border: 0px;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	font-size: 15px;
	font-family: Arial, sans-serif; 
	letter-spacing: 0px; color: #999;
	font-weight:normal;
	outline: none; /*Remove Chrome and Safari glows on focus*/
	background: #fff; 
	border:1px solid #b2bcbe;
	color:#ccc;
	behavior:url("PIE.htc");
}

.textarea
{
	height:50px;
	}

.textfield.active {
	/*background: #ebf3fc url(/images/bar-bg-active.png) repeat-x;*/
	border: 1px solid #00a261;
}

#submit
{
	width:228px;
	}
	
.darktext
{
	color:#999;
	}


	

/* `Buttons
----------------------------------------------------------------------------------------------------*/

/* Sizes ---------- */
.small.awesome {
font-size: 11px;
}
.medium.awesome {
font-size: 13px;
}
.large.awesome {
font-size: 14px;
padding: 8px 14px 9px;
}
 
/* Colors ---------- */

.awesome, .awesome:visited {
	background: #00a261; color: #fff;
	display: inline-block; 
	padding: 5px 10px 6px; 
	text-decoration: none;
	border-radius:3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	text-shadow: 0px -1px 1px rgba(0,0,0,0.25);
	border: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	behavior:url("PIE.htc");
}

.ieshadow {
        -moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
        -webkit-box-shadow:0px 0px 1px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 1px rgba(0,0,0,0.5);

}

.awesome:hover							{ background: #f5f5f5; color: #00a261;  }
.awesome:active							{ top: 1px; }
.small.awesome, .small.awesome:visited 			{ font-size: 11px; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }

/* IE
----------------------------------------------------------------------------------------------------*/
.ie6 .box, .ie7 .box, .ie8 .box /* Rounded corners bottom */ {
	background: url(../images/ie_box_bg.jpg) no-repeat bottom center; 
	/*height: 150px;*/
}
.ie6 .wider, .ie7 .wider, .ie8 .wider {
	background: url(../images/ie_boxwider_bg.jpg) no-repeat bottom center;
}
.ie6 .box h3.green, .ie7 .box h3.green, .ie8 .box h3.green /* Rounded corners top */ {
	background: url(../images/ie_h3green_bg.gif) no-repeat #c9e2a8;
}
.ie6 .box h3.grey, .ie7 .box h3.grey, .ie8 .box h3.grey /* Rounded corners top */ {
	background: url(../images/ie_h3grey_bg.gif) no-repeat top #f1f1f2;
}
