/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.top-bar { margin-bottom: 0; overflow: visible; height: 45px; background: #222222; /* Override contain to grid stuff for breakpoint */ /* Setting up the sliding area */ /* When the Small Nav is Showing */ }
#logo{ position: absolute; top:12px; left: 15px; z-index: 100 !important; }
ul.bodybullets li, ol.bodybullets li { margin-left: 25px; }
ul, ol { margin-bottom: 20px; }
h1, h2, h3, h4, h5, h6 { font-family:'RobotoCondensed', Arial, sans-serif; letter-spacing: 0; font-weight: normal; font-style: normal; color: #00a15e; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; }

.cursive { font-family:'DancingScriptOTRegular', Arial, sans-serif;}

h2.cursive { text-align: center; }
h3.cursive { text-align: left; }
.center { text-align: center; }

p.quote { font-family: Georgia, serif; font-style: italic; color: #009b56; }

.top-bar { background: #00a15e url(/assets/repeatmos.jpg) top left repeat; min-height: 45px; line-height: 45px; margin: 0 0 30px 0; padding: 0; width: 100%; position: relative; border-bottom: 10px solid #a1d46d;  /* Contain width to .row width */ /* First <ul> for branding, title, name, etc */ /* topbar global <ul> styles */ }

.flowplayer { width: 100% !important; }

.bottom-bar { background: #effadf; width: 100%; display: block; min-height: 45px; padding: 20px 0;  border-top: 1px dashed #009b56; border-bottom: 1px dashed #009b56;}
.footerlogo { float:left; margin-right:10px; }

@media only screen and (max-width: 940px) { 
/*#logo{ position: absolute; top:10px; left: 50%; margin-left: -53px; z-index: 100 !important; }*/
}
