%h1 
  = I18n.t("about_research.title")
%p 
  = I18n.t("about_research.text_1")
%h2 
  = I18n.t("about_research.text_2")
%p
  %p
    %strong
      = I18n.t("about_research.text_3")
    = I18n.t("about_research.text_4")
  %p
    %strong
      = I18n.t("about_research.text_5")
    = I18n.t("about_research.text_6")
  %p
    %strong
      = I18n.t("about_research.text_7")
    = I18n.t("about_research.text_8")
  %p
    %strong
      = I18n.t("about_research.text_9")
    = I18n.t("about_research.text_10")
%br
%br
.span4
  - if user_signed_in?
    = link_to I18n.t("header.my_surveys"), surveys_path, class: 'medium awesome'
  - else
    = link_to I18n.t("header.login"), new_user_session_path
    &nbsp;&nbsp;&nbsp;&nbsp;
    = link_to I18n.t("button.register"), new_user_registration_path
.span2.pull-right
  - unless user_signed_in?
    = link_to I18n.t("button.register_today"), new_user_registration_path
    %br
  
