#about_heading.grid_24
  %h1 
    = I18n.t("about_media.text_1")
    %span.green_slogan
      = I18n.t("about_media.text_2")
  = image_tag("aboutbackground.jpg", id: 'aboutbackground', style: "margin-left:100px; margin-top:60px;")
.clear
#about_container.grid_24{style: 'margin-bottom:20px;'}
  #about_tab_container
    #coda-nav-1
      = link_to image_tag("vision_on.png", class: 'rollover', id: 'about_vision'), '#', class: "xtrig current", rel: "coda-slider-1"      
      = link_to image_tag("history_off.png", class: 'rollover', id: 'about_history'), '#', class: "xtrig", rel: "coda-slider-1"
    = image_tag("shadow.png", id: 'about_shadow')
  #about_slider_container
    .coda-slider-wrapper
      #coda-slider-1.coda-slider{style: 'height: 440px;'}
        .panel{style: 'display: block;'}
          .panel-wrapper
            .grid_1
              %p
            .grid_21
              = image_tag "sepknowledgepower.png"
            .clear
            .grid_1
              %p
            .grid_7
              %p
                %strong.green
                  = I18n.t("about_media.text_3")
                = I18n.t("about_media.text_4")
            .grid_7
              %p
                %strong.green
                  = I18n.t("about_media.text_5")
                = I18n.t("about_media.text_6")
            .grid_7
              %p
                %strong.green
                  = I18n.t("about_media.text_7")
                = I18n.t("about_media.text_8")
            .clear
            .grid_1
              %p
            .grid_7
              %p
                %strong.green
                  = I18n.t("about_media.text_9")
                = I18n.t("about_media.text_10")
            .grid_3
              = link_to image_tag("bcorp_logolarge.jpg", style: 'margin-right:10px;', width: '80'), "http://bcorporation.net/saberespoder/", target: 'new'
            .grid_11
              %p
                %strong.green
                  = I18n.t("about_media.text_11")
                = I18n.t("about_media.text_12")
              %p
                = I18n.t("about_media.text_13")
                = link_to "bcorporation.net", "http://bcorporation.net/saberespoder/", target: 'new'
        .panel{style: 'display: block;'}
          .panel-wrapper
            .grid_1
              %p
            .grid_7
              %p
                %strong.green 
                  = I18n.t("about_media.text_14")
                = I18n.t("about_media.text_15")
                = image_tag "2002.jpg"
            .grid_7
              %p
                %strong.green 
                  = I18n.t("about_media.text_16")
                = I18n.t("about_media.text_17")
                = image_tag "2005.jpg"
            .grid_7
              %p
                %strong.green 
                  = I18n.t("about_media.text_18")
                = I18n.t("about_media.text_19")
                = image_tag "2008.jpg"
  .clear 
