%h1 
  = I18n.t("contact_us.title")
.span6
  %p 
    = I18n.t("contact_us.text_1")
    %br
    = I18n.t("contact_us.text_8")
  = simple_form_for :current_user do |f|
    .row-fluid
      .span4
        = I18n.t("contact_us.text_2")
      .span8
        = text_field :contact_us, :email, value: current_user.try(:email)
    .row-fluid
      .span4
        = I18n.t("contact_us.text_3")
      .span8
        = select :contact_us, :reason, [I18n.t("contact_us.reason_4"), I18n.t("contact_us.reason_1"), I18n.t("contact_us.reason_2"), I18n.t("contact_us.reason_3"), I18n.t("contact_us.reason_5")]
    .row-fluid
      .span4
        = I18n.t("contact_us.text_4")
      .span8
        = text_area :contact_us, :content, style: "height: 160px;", value: params[:message]
    .row-fluid
      %br
      = f.submit I18n.t("button.submit"), class: 'large awesome pull-right'
.span1
.span5 
  %strong 
    = I18n.t("contact_us.text_5")
  %p
    = I18n.t("contact_us.text_6")
    %br
    = I18n.t("contact_us.text_7")
.clear
