#featured
  - MarketingMaterial.active.each do |material|
    .content{:style => '',  'data-caption' => "#htmlCaption_#{material.id}" }
      %h3{:style => 'background: #00A15E; color: #fff; padding: 10px;'}
        = I18n.l(material.published_date, format: :long)
      = link_to image_tag(material.image_url, :size => "940x425"), material.destination_url, :target => "_blank"

- MarketingMaterial.active.each do |material|
  %span.orbit-caption{:id => "htmlCaption_#{material.id}"}
    = material.title


