%h1
  = I18n.t("welcome.title")
  = current_user.first_name
%p
  = I18n.t("welcome.text_1")
%p
  = I18n.t("welcome.text_2")
%p
  = I18n.t("welcome.text_3")
  %br
  %b
    The SABEResPODER team 
.span5.pull-right{style: 'margin-bottom:50px;'}
  = link_to I18n.t("button.tour"), '#', class: 'medium awesome' 
  &nbsp;
  = link_to I18n.t("button.skip_tour"), new_survey_path, class: 'medium awesome'
