- session[:locale] = I18n.default_locale unless session[:locale]
%h2
  = I18n.t("session_new.title") 
%br
.span5
  %h5
    = I18n.t("session_new.text_1") 
  %p{:style => "margin-top: 10px;"}
    = link_to I18n.t("button.register") , new_registration_path(resource_name), class: 'large awesome'
  %br/
  .row
    .span4
      %h5
        = I18n.t("session_new.text_2") 
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: ''}) do |f|
        .row-fluid
          = f.input :email, :required => false, :autofocus => true, label: I18n.t("session_new.text_3")
        .row-fluid
          = f.input :password, :required => false, label: I18n.t("session_new.text_4")
        .row-fluid
          = f.input :remember_me, :as => :boolean, label: I18n.t("session_new.text_5") if devise_mapping.rememberable?
        .pull-left{:style => "margin-top: 10px;"}
          = f.button :submit, I18n.t("button.sign_in") , class: 'large awesome'
      .clear  
      = render "devise/shared/links"
.span1
.span5
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube.com/embed/MDn0m2av14g", :width => "560"}
