/Matrix table multi-select
%table.table.question-result
  %tr
    %th{colspan: 3}
      %strong 
        = I18n.t("survey_common.question") 
        #{ind}: 
      = question.to_s
  - question.survey_possible_answers.each do |answer|
    %tr
      %td{style: 'width: 120px;'}
        = answer.text
      %td
        = answer.survey_user_answers.where(["survey_user_answers.id in (#{@answer_ids.join(', ')})"]).size
      %td
        %p