/Rank order
%table.table.question-result
  %tr
    %th{colspan: 3}
      %strong 
        = I18n.t("survey_common.question") 
        #{ind}: 
      = question.text_from_lang(session[:locale])
  %tr
    %td{colspan: 3}
      %table
        %tr
          %td
          - answer_size = question.survey_possible_answers.size
          - rank_cnt = 1
          - answer_size.times do
            %td
              = I18n.t("survey_common.rank") 
              #{rank_cnt}
            - rank_cnt += 1
          %td= I18n.t("survey_common.average")
        - question.survey_possible_answers.includes(:survey_user_answers).each do |answer|
          %tr
            %td{style: 'width: 120px;'}
              = answer.text_from_lang(session[:locale])
            - rank_cnt = 0
            - tmp_sum = 0
            - answer_size.times do
              - rank_cnt += 1
              - selected = answer.survey_user_answers.where(["survey_user_answers.id in (#{@answer_ids.join(', ')})"]).where(text: rank_cnt.to_s).size
              - tmp_sum += selected * rank_cnt
              %td= selected
            %td= answer.survey_user_answers.where(["survey_user_answers.id in (#{@answer_ids.join(', ')})"]).size == 0 ? "_" : (tmp_sum.to_f / answer.survey_user_answers.where(["survey_user_answers.id in (#{@answer_ids.join(', ')})"]).size).round(2)
            %td
              %p
