/Multi choice select multiple
%table.table.question-result
  %tr
    %th{colspan: 3}
      %strong
        = I18n.t("survey_common.question")
        #{ind}:
      = question.text_from_lang(session[:locale])
  %tr
    %th Top Answer
    %th Total
  - answers = SurveyUserAnswer.survey_question_eq(question.id).where(["survey_user_answers.id in (#{@answer_ids.join(', ')})"]).group_by(&:text).sort_by {|key, value| value.count}.reverse
  - answers[0..3].each do |answer|
    %tr
      %td
        = answer[0]
      %td
        = answer[1].length
