/Image chooser
= "this is the best question type"


%table.table.question-result
  %tr
    %th{colspan: 3}
      %strong 
        = I18n.t("survey_common.question") 
        #{ind}: 
      = question.text_from_lang(session[:locale])
  - question.survey_possible_answers.each do |answer|
    %tr
      %td{style: 'width: 200px;'}
        = answer.text_from_lang(session[:locale])
        &nbsp;&nbsp;
        = image_tag answer.validation, size: '32x32'
      %td
        = answer.survey_user_answers.where(["survey_user_answers.id in (#{@answer_ids.join(', ')})"]).size
      %td
        %p
