/ Multi choice select one
%table.table.question-result
  %tr
    %th{colspan: 3}
      %strong
        = I18n.t("survey_common.question")
        #{ind}:
      = question.text_from_lang(session[:locale])
  - question.survey_possible_answers.includes(:survey_user_answers).each do |answer|
    %tr
      %td{style: 'width: 120px;'}
        = answer.text_from_lang(session[:locale])
      %td
        = answer.survey_user_answers.where(["survey_user_answers.id in (#{@answer_ids.join(', ')})"]).size
      %td
        %p