/Numeric Freeform Input
%table.table.question-result
  %tr
    %th{colspan: 3}
      %strong
        = I18n.t("survey_common.question")
        #{ind}:
      = question.text_from_lang(session[:locale])
    %tr
      %td{colspan: 3}
        %table
          - answers = question.survey_user_answers.where(["survey_user_answers.id in (#{@answer_ids.join(', ')})"])
          - min = answers.minimum(:text).to_i
          - max = answers.maximum(:text).to_i
          - dist = (max - min) / 5
          %tr
            %td{style: 'width: 120px;'}
            - (0..4).each do |cnt|
              - start_point = min + dist * cnt
              - start_point = min if cnt == 0
              - end_point = min + dist * (cnt + 1)
              - end_point = max if cnt == 4
              %td
                = "#{start_point} ~ #{end_point}"
            %td= I18n.t("survey_common.average")
          %tr
            %td{style: 'width: 120px;'}
              = question.text_from_lang(session[:locale])
            - (0..4).each do |cnt|
              - start_point = min + dist * cnt
              - start_point = min - 1 if cnt == 0
              - end_point = min + dist * (cnt + 1)
              - end_point = max if cnt == 4
              %td
                = answers.select{|a| (a.text.to_f <= end_point and a.text.to_f > start_point)}.size
            %td
              - arr = answers.map{ |a| a.text.to_i }
              = arr.size == 0 ? "_" : (arr.inject{ |sum, el| sum + el }.to_f / arr.size).round(2)
