/Multi choice select multiple
%table.table.question-result
  %tr
    %th{colspan: 3}
      %strong
        = I18n.t("survey_common.question")
        #{ind}:
      = question.text_from_lang(session[:locale])
  - length = SurveyUserAnswer.survey_question_eq(question.id).where(["survey_user_answers.id in (#{@answer_ids.join(', ')})"]).length
  - length = 1 if length == 0
  - question.survey_possible_answers.includes(:survey_user_answers).each do |answer|
    - percentage = answer.survey_user_answers.where(["survey_user_answers.id in (#{@answer_ids.join(', ')})"]).size*100.0/length
    %tr
      %td{style: 'width: 120px;'}
        = answer.text_from_lang(session[:locale])
        &nbsp;&nbsp;
        = image_tag answer.validation, size: '32x32'
      %td{:title => "#{percentage}"}
        = "#{percentage.round}%"
      %td
        %p