= form_tag survey_results_path(@survey) do 
  .span12
    %strong 
      = I18n.t("survey_result.fitler_text")
      &nbsp;
    = select_tag :filter_by, options_for_select([I18n.t("survey_result.fitler_text_1"), I18n.t("survey_result.fitler_text_2"), I18n.t("survey_result.fitler_text_3"), I18n.t("survey_result.fitler_text_4")].collect{ |i| [i, i.downcase] }, params[:filter_by]), style: 'width: 120px;', include_blank: true
  #filter-date.date-range.hide.span6{style: 'margin-bottom: 10px;'}
    .pull-left
      %label
        = I18n.t("survey_result.fitler_text_5")
    .input-append.pull-left
      = text_field_tag :filter_from, params[:filter_from], class: 'datepicker filter_item'
      %span.add-on
        %i.icon-th
    .pull-left
      %label
        = I18n.t("survey_result.fitler_text_6")
    .input-append.pull-left
      = text_field_tag :filter_to, params[:filter_to], class: 'datepicker filter_item'
      %span.add-on
        %i.icon-th
  #filter-age-greator.hide.span3
    = I18n.t("survey_result.fitler_text_7")
    = number_field_tag :filter_age_greator, params[:filter_age_greator], class: 'span1 filter_item', size: 2
  #filter-age-less.hide.span3
    = I18n.t("survey_result.fitler_text_7_1")
    = number_field_tag :filter_age_less, params[:filter_age_less], class: 'span1 filter_item', size: 2
  #filter-gender.hide.span3
    = select_tag :filter_gender, options_for_select([I18n.t("survey_result.fitler_text_16"), I18n.t("survey_result.fitler_text_17")].collect{ |i| [i, i.downcase] }, params[:filter_gender]), class: 'span2 filter_item', include_blank: true
  #filter-location.hide.span8
    &nbsp;
    = I18n.t("survey_result.fitler_text_8")
    = autocomplete_field_tag :filter_state, params[:filter_state], autocomplete_state_name_surveys_path, :class => 'span1 filter_item'
    &nbsp;
    = I18n.t("survey_result.filter_text_9")
    = text_field_tag :filter_city, params[:filter_city], class: 'span2 filter_item'
    &nbsp;
    = I18n.t("survey_result.filter_text_10")
    = number_field_tag :filter_zipcode, params[:filter_zipcode], {class: 'span2 filter_item', size: 5}
.span12{:style => "margin-top: 10px;margin-bottom:15px;"}
  %a#add-filter.medium.awesome
    = I18n.t("survey_result.filter_text_11")

%br
.span12
  %p#validation-error.alert{style: "display: none; line-height: 15px;"}
.span12.filter-queries
  %table#filter-queries.table
    %thead
      %tr
        %th
          %strong 
            = I18n.t("survey_result.filter_text_12")
        %th{colspan: 5}
          %strong 
            = I18n.t("survey_result.filter_text_13")
        %th
          %strong
            = "Value"
    %tbody
      %tr
%a#result-search.medium.awesome{ style: "margin-left: 20px; float: left; margin-top: 15px;"}
  = I18n.t("button.search")

