= simple_form_for survey do |f|
  = f.error_notification
  - if alert
    %p.alert 
      = alert

  %fieldset
    .row-fluid
      = f.input :title
  %fieldset
    .row-fluid
      = f.input :audience_description, as: :text
  %fieldset
    .row-fluid
      = f.input :description, as: :text
  %fieldset
    .row-fluid
      = f.input :document, as: :file

  %div
    .span4.pull-right
      = f.button :submit, :class => 'medium awesome'
      &nbsp;
      = link_to I18n.t("header.my_surveys"), surveys_path, :class=> 'medium awesome'
