= form_tag invite_surveys_path, remote: true, id: 'invite_form', :'data-type' => 'json' do
  %p
    #invite_alert.hide
  = text_field_tag :invite_email, '', placeholder: I18n.t("share.text_2"), style: "width: 300px;"
  %br
  %strong Message
  %br
  = text_area_tag :invite_message, '', style: "height: 160px; width: 300px;"
  = hidden_field_tag :survey_id, '', id: 'invite_survey_id'