%table.table.table-no-borders.table-condensed
  %tr
    %td{colspan: 5}
      %h3= @survey.title
  %tr
    %td= @survey.user.full_name
    %td= @survey.user.user_extension.try(:company)
    %td= @survey.user.user_extension.try(:company_role)
    %td= @survey.user.email
    %td= number_to_phone @survey.user.phone_number
  - @survey.survey_user_permissions.each do |permission|
    %tr
      %td= permission.user.try(:full_name)
      %td= permission.user.try(:user_extension).try(:company)
      %td= permission.user.try(:user_extension).try(:company_role)
      %td= permission.user.try(:email)
      %td= number_to_phone permission.user.try(:phone_number)
