%h1 
  = I18n.t("survey_index.title")
.row
  .span10
    %table.table
      - @surveys.each do |survey|
        %tr
          %td= link_to survey.title, survey_results_path(survey)
          - if current_user.super_admin? 
            %td= link_to I18n.t("button.edit"),  current_user['admin'] ||current_user.admin ? edit_admin_survey_path(survey):edit_survey_path(survey)
          - else
            %td= current_user.own_survey?(survey) ? link_to(I18n.t("button.edit"),  edit_survey_path(survey)) : I18n.t("survey_index.text_2")
          %td= I18n.l(survey.created_at, format: :long)
          %td= survey.active ? I18n.t("survey_common.active") : I18n.t("survey_common.inactive")
          %td= link_to I18n.t("survey_common.test_survey"), survey_question_lang_path(survey)
          %td= link_to I18n.t("survey_common.view_result"), survey_results_path(survey)
  .clear
= hidden_field_tag :notice, flash[:notice]
= link_to I18n.t("survey_common.create"), new_survey_path, class: 'medium awesome'
.span4.pull-right
  &nbsp;&nbsp;&nbsp;

