%h1 
  = I18n.t("survey_create.title")
.row
  .span7
    = render partial: "surveys/form", locals: {survey: @survey }
  .span1
  .span4
    %p
      %strong
        = I18n.t("survey_create.text_1")
.clear
