.row 
  .one.columns
  .ten.columns
    #progress_bar.ui-progress-bar.ui-container
      .ui-progress
        %span.ui-label.hide
          = I18n.t("question.progress_step")
          %b.value 1
%h4= @question.text_from_lang(session[:locale])
.grid_24{style: 'border-top:1px solid #c2e9d9; padding-top:10px;'}
.row
.one.columns
.ten.columns
  %br
  - if flash.present?
    .alert-box.alert
      - flash.each do |key, msg|
        = h msg
  = simple_form_for @question, url: survey_question_path(@survey), html: {class: 'question-form'} do |f|
    - if @question.errors.any?
      .alert-box.alert
        - @question.errors.full_messages.each do |msg|
          = msg
          %br
    = render "surveys/questions/question_#{@question.survey_question_type_id}", form: f
    = text_field_tag :other_text, '', class: 'question-input'
    .eight.columns
    .four.columns
      = hidden_field_tag :question_id, @question.id
      = hidden_field_tag :result
      = hidden_field_tag :step_number, @question.step_number
      = hidden_field_tag :survey_token, params[:survey_token]
      = hidden_field_tag :user_id, params[:user_id]
      = hidden_field_tag :eo, params[:eo]
      = hidden_field_tag :back_url, params[:back_url]
      = f.submit [12, 13].include?(@question.survey_question_type_id) ? I18n.t("button.finish") : I18n.t("button.continue"), class: 'button', style: 'float :left'
    .row
  = hidden_field_tag :question_type_id, @question.survey_question_type_id
  = hidden_field_tag :other_answer_id, @question.other_answer_id
  = hidden_field_tag :total_questions_cnt, @question.survey.survey_questions.size - 1
