%h4 
= I18n.t("question_info.title")
.grid_24{style: 'border-top:1px solid #c2e9d9; padding-top:10px;'}
.row
.one.columns
.ten.columns
  = simple_form_for @user, url: survey_question_info_path(@survey) do |f|
    = f.input :first_name, wrapper_html: {style: 'margin-bottom: 8px;'}, label: I18n.t("question_info.first_name")
    .row
    = f.input :last_name, wrapper_html: {style: 'margin-bottom: 8px;'}, label: I18n.t("question_info.last_name")
    .row
    = f.input :address_line_1, wrapper_html: {style: 'margin-bottom: 8px;'}, label: I18n.t("question_info.address_line_1")
    .row
    = f.input :address_line_2, wrapper_html: {style: 'margin-bottom: 8px;'}, label: I18n.t("question_info.address_line_2")
    .row
    = f.input :city, wrapper_html: {style: 'margin-bottom: 8px;'}, label: I18n.t("question_info.city")
    .row
    = f.input :state, wrapper_html: {style: 'margin-bottom: 8px;'}, label: I18n.t("question_info.state")
    .row
    = f.input :zip , wrapper_html: {style: 'margin-bottom: 8px;'}, label: I18n.t("question_info.zip")
    .row
    = f.input :age, wrapper_html: {style: 'margin-bottom: 8px;'}, label: I18n.t("question_info.age")
    .row
    = f.input :gender, collection: [nil,I18n.t("question_info.gender_male"),I18n.t("question_info.gender_female")].collect{ |i| [i, i] }, input_html: {style: 'width: 100px;'}, include_blank: false, label: I18n.t("question_info.gender")
    .row
    %br
    = f.input :phone_number, wrapper_html: {style: 'margin-bottom: 8px;'}, label: I18n.t("question_info.phone_number")
    .row
    .eight.columns
    .four.columns
      = hidden_field_tag :survey_token, params[:survey_token]
      = hidden_field_tag :user_id, params[:user_id]
      = hidden_field_tag :eo, params[:eo]
      = hidden_field_tag :back_url, params[:back_url]
      = f.submit I18n.t("button.continue"), class: 'button', style: 'float :left'
    %br
.row
%br
