%h4 Idioma/language
.grid_24{style: 'border-top:1px solid #c2e9d9; padding-top:10px;'}
.row
.one.columns
.ten.columns
  = link_to "English", params[:survey_token].present? ? survey_question_lang_path(@survey, locale: "en", survey_token: params[:survey_token], user_id: params[:user_id], eo: params[:eo], back_url: params[:back_url]) : survey_question_lang_path(@survey, locale: "en"), class: 'button success small expand'
  %br
  %br
  = link_to "Español", params[:survey_token].present? ? survey_question_lang_path(@survey, locale: "es", survey_token: params[:survey_token], user_id: params[:user_id], eo: params[:eo], back_url: params[:back_url]) : survey_question_lang_path(@survey, locale: "es"), class: 'button success small expand'
.row
%br
