- content_for :head do
  = javascript_include_tag "http://code.highcharts.com/highcharts.js"
  = javascript_include_tag "http://code.highcharts.com/modules/exporting.js"
  / = javascript_include_tag "plugins/jquery-jvectormap-1.2.2.min"
  / = javascript_include_tag "jquery-vector-map"


  :coffeescript
    window.question_ids = #{@survey.survey_question_ids}
    window.survey_id = #{@survey.id}
%h1.bold
  #{@survey.title}

%h3.summary-heading Summary
%div.summary
  %div.span3
    %strong.survey-count
      = I18n.t("survey_result.text_1")
      = @information[:total]
  .span3
    %strong
  %div.span3
    %strong.survey-count
      = I18n.t("survey_result.text_2")
      = @survey.goal
.clear

%h3.filter-heading By Gender
%div#wrap-filter-gender
  %div.icons
    %div
      = link_to 'Male', '#', class: 'add-filter-gender male'
    %div
      = link_to 'Female', '#', class: 'add-filter-gender female'
  %div.counts
    %div
      %p
        = "#{@information[:gender][:male]} (#{(@information[:gender][:male]*100.0/@information[:divide]).round(2)}%)"
    %div
      %p
        = "#{@information[:gender][:female]} (#{(@information[:gender][:female]*100.0/@information[:divide]).round(2)}%)"
.clear
%h3.filter-heading By Age
%div#wrap-filter-age
  %div.brackets
    - @information[:age].each do |key, value|
      %div
        = link_to "#{value[:from] + (value[:to].present? ? '-' + value[:to] : '')}", '#', class: "add-filter-age #{'_' + value[:from].gsub('+','')}#{'_' + value[:to] if value[:to].present?}", data: {type: 'age', from: value[:from].gsub('+',''), to: value[:to]}
  %div.data
    - @information[:age].each do |key, range|
      %div
        = "#{range[:value]} (#{(range[:value]*100.0/@information[:divide]).round(2)}%)"
.clear
%h3.filter-heading By Location
%div#wrap-filter-location
  %div#map
  %script
    :plain
      // Set a global variable with values tied to US states that will determine the fill color of each state. 0 will be ligt green, 0.5 medium green, 1 dark green
      window.states_selected = {
        "US-MT": 1,
        "US-CA": 1,
        "US-NY": 1
      }

      // Data that will appear next to the state name on mouseover
      window.states_data = {
        "US-MT": '15 (30%)',
        "US-CA": '10 (20%)',
        "US-NY": '25 (50%)'
      }

      // Cities (location, name, data to be diplayed next to the name)
      window.city_data = [
          {latLng: [41.50, -87.37], name: 'Chicago', data: '5 (10%)'},
          {latLng: [32.46, -96.46], name: 'Dallas', data: '10 (20%)'},
          {latLng: [29.76, -95.36], name: 'Houston', data: '15 (30%)'},
          {latLng: [34.3, -118.15], name: 'Los Angeles', data: '10 (20%)'},
          {latLng: [40.43, -74.00], name: 'New York', data: '10 (20%)'},
          {latLng: [35.77, -78.63], name: 'Raleigh', data: '10 (20%)'},
          {latLng: [33.27, -112.04], name: 'Phoenix', data: '10 (20%)'}
      ]
%p
  = render 'filter_results'
.clear
%br
%br
%p



  - ind = 1
  - @survey_questions.each do |question|
    .span8
      = render "surveys/results/question_#{question.survey_question_type_id}", question: question, ind: ind
    .span4
      = link_to I18n.t("survey_result.text_3"), contact_us_home_index_path(message: "#{@survey.title} : #{question.text_from_lang(session[:locale])}"), class: 'small awesome pull-left'
    .span10{style: "margin-top: -15px;"}
      = hidden_field_tag "question_graph_data_#{question.id}", question.graph_data(session[:locale], @answer_ids)
      = hidden_field_tag "question_graph_type_#{question.id}", question.survey_graph_type.id
      %div{id: "question_chart_#{question.id}", style: 'height: 250px; width: 550px;'}
    - ind += 1
    .clear
    %br
    %br

.clear
= link_to I18n.t("button.edit"), edit_survey_path(@survey), class: 'medium awesome'
&nbsp;&nbsp;
= link_to I18n.t("survey_result.text_4"), surveys_path, class: 'medium awesome'
= link_to I18n.t("button.download_answers"), survey_path(@survey, format: "xls"), class: 'medium awesome'
