/%h1 Surveys
.span9
  - @surveys.each do |survey|
    %div{id: "invite_#{survey.id}"}
      - @survey = survey
      = render "share_survey"
    %div{style: 'margin-top: -12px;'}
    = link_to I18n.t("share.text_1"), '#', class: 'medium awesome invite' , data: {survey_id: @survey.id, company: @survey.user.user_extension.try(:company), firstname: @survey.user.first_name, lastname: @survey.user.last_name}
    %br
    %br
#invite_form_div.hide
  = render 'invite_member'