<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <%
     @answers = {}; @questions = {}
     Survey.find(params[:id]).survey_questions.where('survey_question_type_id not in (?)', [11, 12, 13]).includes(:survey_possible_answers, :survey_user_answers).each do |question|
       question_text = %Q[#{question.text}]
       @questions[question_text] = true
       SurveyUserAnswer.survey_question_eq(question.id).order('id desc').each do |answer|
         if answer.user.present?
            @answers[answer.user_id] = {'gender' => answer.user.gender, 'age' => answer.user.age, 'zip' => answer.user.zip} if @answers[answer.user_id].blank?
            @answers[answer.user_id][question_text] = [] if @answers[answer.user_id][question_text].blank?
            @answers[answer.user_id][question_text].push(answer.text)
         end
       end
     end
     @rows = []
     @answers.each do |ak, av|
       length = 0
       @questions.each do |qk, qv|
         length = av[qk].length if av[qk].present? && av[qk].length > length
       end
       (1..length).each do |i|
         value = {'user_id' => ak, 'gender' => av['gender'], 'age' => av['age'], 'zip' => av['zip']}
         @questions.each do |qk, qv|
           av[qk].present? ? value[qk]=av[qk][i-1] : value[qk]=''
         end
         @rows.push(value)
       end
     end
  %>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">User ID</Data></Cell>
        <Cell><Data ss:Type="String">Gender</Data></Cell>
        <Cell><Data ss:Type="String">Age</Data></Cell>
        <Cell><Data ss:Type="String">Zip</Data></Cell>
        <% @questions.each do |index, value| %>
          <Cell><Data ss:Type="String"><%= index %></Data></Cell>
        <% end %>
      </Row>
      <% @rows.each do |answer| %>
        <Row>
          <Cell><Data ss:Type="String"><%= answer['user_id']%></Data></Cell>
          <Cell><Data ss:Type="String"><%= answer['gender']%></Data></Cell>
          <Cell><Data ss:Type="String"><%= answer['age']%></Data></Cell>
          <Cell><Data ss:Type="String"><%= answer['zip']%></Data></Cell>
          <% @questions.each do |iquestions, question| %>
            <Cell><Data ss:Type="String"><%= answer[iquestions] %></Data></Cell>
          <% end %>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>