.simple_form{
  fieldset{
    padding: 0px 0px 5px 0px;
  }
  .control-group{
    margin-bottom: 5px;
  }
  .row-fluid{
    margin-bottom: 5px;
  }
  textarea{
    height: 80px;
    width: 100%;
    padding: 3px 0px;
    line-height: 20px;
    text-indent: 5px;
    margin: 0px;
  }
  input[type="text"], input[type="password"], input[type="email"], input[type="tel"]{
    width: 100%;
    padding: 3px 0px;
    height: 20px;
    line-height: 20px;
    text-indent: 5px;
    margin: 0px;
  }
  select{
    width: 100%;
    height: 26px;
    line-height: 26px;
    margin: 0px;
  }
}
.date-range {
  margin-right: 20px;
  #margin-top: 5px;
  label{ margin: 0px 10px; line-height:30px; }
  input {
    margin: 0px; 
    @extend .input-small;
  }
}
.with-underline{
  border-bottom: 1px solid #000;
}

.table.table-no-borders {
  border: 0 !important;

  td, tr, th {
    border: 0 !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'bebasregular', 'PTSansRegular', Arial, sans-serif;
}