// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.orbit-wrapper {
	.content {
		h3 {
			font-family: Arial, Helvetica, sans-serif;
		}
	}
}