/*
 *= require saberespoder/base
 *= require saberespoder/fontface
 *= require saberespoder/survey_question
 *= require plugins/ui.progress-bar
 */
span.rank-label {
	width: 10px;
  	height: 10px;
  	padding: 6px;

	&.warn {
	  -webkit-border-radius: 1000px; 
	  -moz-border-radius: 1000px; 
	  -ms-border-radius: 1000px; 
	  -o-border-radius: 1000px; 
	  border-radius: 1000px;

	  width: 10px;
	  height: 10px;
	  padding: 5px;

	  border: 1px solid red;
	}
}

div.rank_order {
	a.button.rank-text {
		width: 230px;
		display: inline-block;
		vertical-align: middle;
		border-width: 4px;

		&.orange {
			border-color: orange;
		}

		&.green {
			border-color: green;
		}

		&.yellow {
			border-color: yellow;
		}

		&.red {
			border-color: red;
		}

		&.blue {
			border-color: blue;
		}

		&.purple {
			border-color: purple;
		}

		&.pink {
			border-color: pink;
		}

		&.navy {
			border-color: navy;
		}
	}

	div.blank {
		border: 0;
		margin: 0;
		display: inline-block;
		width: 30px;
		height: 30px;
		vertical-align: middle;
	}

	a.rank-change {
		background: url(icon-rank-arrows.png) no-repeat transparent;
		vertical-align: middle;
		border: 0;
		margin: 0;
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 0;

		&:hover, &:focus {
			background-color: transparent;
			border: 0;
		}

		&.up {
			background-position: 0px 0px;

			&:hover {
				background-position: 0px -60px;				
			}

			&:focus {
				background-position: 0px -120px;
			}
		}

		&.down {
			background-position: 0px -30px;

			&:hover {
				background-position: 0px -90px;				
			}

			&:focus {
				background-position: 0px -150px;
			}
		}
	}
}

@media only screen and (max-device-width: 480px) {   
	div.rank_order {
		a.button.rank-text {
			width: 190px;
			display: inline-block;
		}
	}
    
}

.error {
	color: red;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.input.select.optional {
	margin-top: 10px;
}

input.button {
	margin-top: 20px;
}