.question-result {
  tr {
    background-color: #9FDF67;
  }
  table > tr {
    background-color: #9FCF67;
  }
}

.filter-queries {
  height: 100px;
  overflow: auto;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  -ms-border-radius: 3px; 
  -o-border-radius: 3px; 
  border-radius: 3px;

  #filter-queries {
    width: 99%;
    margin-left: 5px;
    td {
      line-height: 10px;
    }
  }
}

a.remove-filter {
  text-decoration : none;
  &:hover {
    color: blue;
  }
}

div.secondary h1.bold {
  font-weight: bold;
}

h3.filter-heading {
  margin: 20px 0;
}

h3.summary-heading {
  margin: 10px 0;
}

div.summary {
  div.span3 {
    margin-left: 10px;
    margin-right: 10px;

    strong.survey-count {
      font-size: 12px;
      font-weight: bold;
    }   
  }
}


#wrap-filter-gender {
  display: table;
  text-align: center;

  div.icons {
    display: table-row;
    
    div {
      display: table-cell;
      padding: 0 120px 0 50px;

      a.add-filter-gender {
        display: inline-block;
        vertical-align: middle;
        text-indent: -9999px;
        width: 46px;
        height: 90px;
        overflow: hidden;
        background-position: 50% 0;
        margin: 0 10px;

        &:hover, &.active {
          background-position: 50% -90px;
        }

        &.male {
          background-image: url(icon-male.png);
        }

        &.female {
          background-image: url(icon-female.png);
        }
      } 
    }
  }

  div.counts {
    display: table-row;
    
    div {
      display: table-cell;
      font-size: 12px;
      font-weight: bold;
      padding: 0 120px 0 50px;

      p {
        font-weight: bold;
        margin: 0;
        padding: 0;
        color: #000;
      }

    }
  }
}

#wrap-filter-age {
  display: table;
  text-align: center;

  div.brackets {
    display: table-row;
    
    div {
      display: table-cell;
      font-size: 20px;
      font-weight: bold;
      padding: 0 4px;

      a {
        font-weight: bold;
        margin: 0;
        padding: 0;
        color: #000;
        text-decoration: underline;

        &:hover {
          text-decoration: underline;
          color: #00A15E;
        }

        &.active {
          color: #00A15E;
        }
      }
    }
  }

  div.data {
    display: table-row;
    
    div {
      display: table-cell;
      font-size: 12px;
      font-weight: bold;
      padding: 0 4px;
    }
  }
}

#wrap-filter-location {
  #map {
    height: 300px;
    width: 500px;
  }
}

@media all and (max-device-width: 480px) {   
    #map {
      height: 150px;
      width: 250px;
    } 
}

input.warning {
  border: 1px solid red;
}

select.warning {
  border: 1px solid red;
}

