table#notifications {
  border: 0;

  tr {
    border: 0;

    td {
      border: 0;
      padding-bottom: 10px;
    }
  }

  tr.new {
    background-color: #EAF5F7 !important;
  }
  tr.old {
    background-color: #fff !important;
  }

  td.centered {
    vertical-align: middle;
    text-align: center;
  }

  a.btn {
    text-decoration: none;
  }
}
span#notification_new_size { 
  -webkit-border-radius: 1000px; 
  -moz-border-radius: 1000px; 
  -ms-border-radius: 1000px; 
  -o-border-radius: 1000px; 
  border-radius: 1000px;

  width: 10px;
  height: 10px;
  padding: 5px;

  background: #5da423;
  text-align: center;
  font-size: 10px;
  margin-left: -10px;
}