/ Image one
- answers = @question.survey_possible_answers
- (0...answers.size/2).each do |step|
  %ul.button-group
    - answer = answers[step * 2]
    = link_to image_tag(answer.validation, size: '120x120') + "<br/>#{answer.text_from_lang(session[:locale])}".html_safe, '#', class: 'button secondary small', data: {answer_id: answer.id}
    &nbsp;&nbsp;&nbsp;&nbsp;
    - answer = answers[step * 2 + 1]
    = link_to image_tag(answer.validation, size: '120x120') + "<br/>#{answer.text_from_lang(session[:locale])}".html_safe, '#', class: 'button secondary small', data: {answer_id: answer.id}