/ Rank order
%div.rank_order
  - colors = shuffled_colors
  - answers = @question.survey_possible_answers
  - ind = 0
  - answers.each do |answer|
    - ind += 1
    %ul.button-group
      - if ind == 1
        %div.blank
          &nbsp;
      - else
        = link_to "&nbsp;".html_safe, '#', class: 'button secondary small round rank-change up', data: {answer_id: answer.id, choice: '-'}

      - color = colors.pop
      - classes = 'button secondary small rank-text ' + color
      = link_to answer.text_from_lang(session[:locale]), '#', class: classes, data: {answer_id: answer.id}
      
      - if ind ==  answers.length
        %div.blank
      - else
        = link_to "&nbsp;".html_safe, '#', class: 'button secondary small round rank-change down', data: {answer_id: answer.id, choice: '+'}
      = hidden_field_tag "text[#{answer.id}]", ind, id: "text#{answer.id}"
    