/ Select one
- @question.survey_possible_answers.each do |answer|
  %ul.button-group
    = link_to answer.text_from_lang(session[:locale]), '#', class: 'button secondary small expand', data: {answer_id: answer.id}