/ Finish
%h4
=I18n.t("end.title")
%p= flash[:notice]
.row
  .six.columns
  .six.columns
    = link_to I18n.t("button.finish"), !(params[:back_url].present?) ? surveys_path : params[:back_url], class: 'button medium'
%br
