.grid_24{style: 'border-top:1px solid #c2e9d9; padding-top:10px;'}
  #left
    %span Copyright © 2013. SABEResPODER. All Rights Reserved.
  .clear
  .bcorp_container
    = link_to image_tag("bcorp_footerlogo.jpg", style: 'position:relative; display:block; float:left; margin-right:10px;'), "http://www.bcorporation.net/saberespoder"
    %span.bcorp_footertext{style: 'display:block; position:relative; float:left; width:500px; color:#b5b4b4; line-height:13px; font-weight:normal;'}
      = I18n.t("footer.text_1")
      %br
      = I18n.t("footer.text_2")
  .vuepoint
    = link_to I18n.t("footer.about_sep_research"), about_research_home_index_path
    |
    = link_to I18n.t("footer.about_sep_media"), about_media_home_index_path
    |
    = link_to I18n.t("footer.about_contact_us"), contact_us_home_index_path
