:coffeescript
  window.user_name = "#{current_user.try(:first_name)}"

#navcontainer.grid_24
  #language
    #tab_container
      - if session[:locale].to_s.downcase == 'es'
        %span.english_tab
          English
      - if session[:locale].to_s.downcase == 'en'
        %span.espanol_tab
          Español
      
  .clear
  .span7
    %ul#nav
      %li
        = link_to I18n.t("header.home"), root_path, class: "#{'current' if controller_name == 'home'}"
        - if user_signed_in?
          = link_to I18n.t("header.my_surveys"), surveys_path, class: "#{'current' if controller_name == 'surveys' and action_name != 'share'}"
          = link_to I18n.t("header.share_survey"), share_surveys_path, class: "#{'current' if controller_name == 'surveys' and action_name == 'share'}"
          = link_to I18n.t("header.notification"), survey_notifications_path, class: "#{'current' if controller_name == 'survey_notifications'}"
          %span#notification_new_size.hide
  .span3
    %ul#nav    
      %li.pull-right
        - if user_signed_in?
          = link_to I18n.t("header.profile"), edit_user_registration_path, class: "#{'current' if controller_name == 'registrations'}"
          = link_to I18n.t("header.logout"), destroy_user_session_path, method: :delete
          &nbsp;
          = I18n.t("header.hello")
          #{current_user.first_name}
        - else
          = link_to I18n.t("header.login"), new_user_session_path
.clear
#logocontainer.grid_8
  = link_to image_tag("saberespoder_logo.jpg"), root_path
#loggercontainer.grid_9
  %p
#logocontainer.grid_7
.clear
.clear
