!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title SurveyAdmin
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag  "http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
      = stylesheet_link_tag    "plugins/movingboxes-ie", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
    = render "shared/olark_chat"
    :coffeescript
      window.locale = "#{session[:locale]}"
  %body{ class: "#{controller_name}_#{action_name}" + "#{(defined? @body_class) ? ' '+ @body_class : ' one_col'}" }
    #greenbar_header
    #header.container_24
      = if content_for?(:header); yield(:header); else; render "layouts/header"; end
    .secondary.container_24
      .row-fluid
        - flash.each do |key, msg|
          %p.alert{class: "alert-#{key}"}= h msg
      = yield
      .row
      %br
      =# link_to image_tag("chat.png", size: "18x18", style: 'margin-right:3px;') + "Chat with a representative" , '#', class: 'pull-right'
    #footer.container_24
      = render "layouts/footer"
    = render "shared/modal"
