!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title SurveyAdmin
    = stylesheet_link_tag    "survey_question", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = yield :head
    :coffeescript
      window.locale = "#{session[:locale]}"
  %body{ class: "#{controller_name}_#{action_name}" + "#{(defined? @body_class) ? ' '+ @body_class : ' one_col'}" }
    = render "layouts/survey_question_header"
    .row
      .six.columns
        = yield
        .row
        = render "layouts/survey_question_footer"